@font-face {
    font-family: 'Pretendard-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    border: none;
}

.footertext {
    display: flex;
    flex-direction: row;
}

#ftext1 {
    height: 14px;
    margin-top: 70px;
    font-size: 12px;
    font-family: "Pretendard-SemiBold";
}

#ftext2 {
    height: 14px;
    margin-left: 3px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-family: "Pretendard-Regular";
}

#ftext3 {
    height: 14px;
    margin-left: 3px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-family: "Pretendard-SemiBold";
}

#ftext4 {
    height: 14px;
    margin-left: 3px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-family: "Pretendard-Regular";
}

#ftext5 {
    height: 14px;
    margin-left: 3px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-family: "Pretendard-SemiBold";
}

#ftext6 {
    height: 14px;
    margin-left: 3px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    font-family: "Pretendard-Regular";
}