.UIcard {
  display: flex;
  margin: 60px 20px 30px 0px;
  position: relative;
  width: 270px;
  height: 388.98px;
  padding: 0;
  flex: 0 1 auto;
}

.card.bottom {
  width: 268px;
  height: 163.98px;
  left: 0.16px;
  top: 268px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px #d9d9d9 solid;
}

#name {
  color: #00664f;
  font-family: Pretendard Variable;
  font-size: 14px;
  font-style: normal;
  font-weight: 400px;
  line-height: 18px;
  flex-shrink: 0;
}
.card.top {
  width: 268.02px;
  height: 268.02px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: #d9d9d9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px #d9d9d9 solid;
}
.card.textbox {
  text-align: left;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.review.contents {
  color: #000;
  font-family: Pretendard Variable;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-top: 9px;
}
.line {
  width: 268px;
  height: 1px;
  background-color: #d9d9d9;
  padding: 0;
  margin: 0;
}
.product.name {
  color: #b9b9b9;
  text-align: center;
  font-family: Pretendard Variable;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 13px;
}
