<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/product_card.css"
    />
  </head>
  <body>
    <div class="card container" id="card1">
      <div class="UIcard">
        <div class="card bottom">
          <div class="card textbox">
            <div class="text">
              <div class="category">
                <span class="category label">생필품 | 이화 파빌리온 앞 | </span>
                <span class="store">쿠팡</span>
              </div>
              <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
              <div class="additional text">
                추워지는 날씨 핫팩으로 함께해요!
              </div>
            </div>
          </div>
        </div>
        <div class="card top"></div>
      </div>
    </div>
  </body>
</html>
