<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/review_card.css"
    />
  </head>
  <body>
    <div id="card1">
      <div class="UIcard">
        <div class="card bottom">
          <div class="card textbox">
            <div class="text">
              <div class="nickname box">
                <span class="nickname img"></span>
                <img
                  class="userImg"
                  src="../media/Ellipse 2.png"
                  alt="userImg"
                />
                <span id="name">냥냥이</span>
              </div>
              <div class="review contents">
                요즘 날씨가 추워져서 걱정이 많았는데 벗들과 함께 핫팩 공구해서
                걱정이 싹 사라졌네요! ㅋㅋ 다들 감기 조심하세요
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="product name">해피데이 포켓형 대용량 핫팩 150g</div>
        </div>
        <div class="card top"></div>
      </div>
    </div>
  </body>
</html>
