<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/header.css">
    </head>
    <body>
        <div class="header">
            <a href="index.html" target="_self" id="logo"><img src="dd" alt="logo"></a>
            <!--로고 이미지 파일 경로 수정 필요-->
            <a href="login.html" target="_self" id="login-btn">로그인/회원가입</a>
        </div>
        <div class="nav">
            <a href="index.html" target="_self" id="nav1">홈</a>
            <a href="products_list.html" target="_self" id="nav2">식료품</a>
            <a href="products_list.html" target="_self" id="nav3">생필품</a>
            <a href="products_list.html" target="_self" id="nav4">문구류</a>
            <a href="products_list.html" target="_self" id="nav5">패션잡화</a>
            <a href="products_list.html" target="_self" id="nav6">이화굿즈</a>
            <a href="products_list.html" target="_self" id="nav7">기타</a>
        </div>
    </body>
</html>
